<p>Small menu? {{smallMenu}}</p>
<p>Child Context: {{childContext.smallMenu}}</p>

<div class="vertical-nav">
  <div *ngIf="showTitle" class="title-container">
    <h2>{{navTitle}}</h2>
  </div>

  <nav *ngIf="smallMenu">
    <ul class="pagination m-0">
      <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="childContext"></ng-container>
    </ul>
  </nav>

  <div class="outer-container">
    <div class="column-container left-column-container">
      Nav tabs content here:
      <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="childContext"></ng-container>
    </div>

    <div class="column-container right-column-container">
      <ng-content select=".content"></ng-content>
    </div>
  </div>
</div>

<!--
Usage:

<vertical-nav [title]="'Something'" [smallMenu]="false">
  <vertical-nav-tab *ngFor="item in items" [title]="item.title">
    // build your own tag
    <ng-template *ngFor="let tag in item.tags">
      <span [ngClass]="tag">tag</span>
    </ng-template>
  </vertical-nav-tab>

  // link to tab by title
  <div *ngFor="item in items" [title]="item.title">
    <div class="content">{{item.content}}</div>
  </div>
</vertical-nav>

-->
