<ng-template let-smallMenu *ngIf="smallMenu; then small; else regular"></ng-template>

<ng-template #small let-smallMenu="smallMenu">
  Small menu? {{smallMenu}}
  <li>{{tabTitle}}</li>
</ng-template>

<ng-template #regular let-smallMenu="smallMenu">
  Small menu? {{smallMenu}}
  <div class="list-item">
    <span class="list-item-text">
      <b>{{tabTitle}}</b>
    </span>
    <div class="tag-holder">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="list-item list-item-fill"></div>
</ng-template>
